<header itemscope itemtype="http://schema.org/WPHeader">
  <div class="top-bar" itemprop="creator">
    <div class="container">
      <div class="customer-service" itemprop="author">
        <span>For Customer Assistance: Call </span>
        <a href="tel:+15012202187" itemprop="telephone">(+150) 22021877</a> |
        <a href="tel:+15006678789" itemprop="telephone">(+150) 6678789</a>
      </div>
      <div class="language-selector" itemprop="inLanguage">
        {% render 'language-country-flag' %}
      </div>
    </div>
  </div>
  <div class="main-header" itemprop="headline">
    <div class="container">
      <div class="logo" itemprop="logo">
        <a href="{{ shop.url }}">
          <img src="{{ 'ProSportsLogo.svg' | asset_url }}" alt="Pro Sports" height="50" width="150">
        </a>
      </div>
      <div class="search-bar">
        <input type="text" id="search-input" placeholder="What are you looking for?">
        <button type="submit" id="search-button"> {% render 'search-icon' %}</button>
      </div>

      <div class="user-actions" itemprop="publisher">
        {% if customer %}
          <a href="/account/logout">Log out</a>
        {% else %}
          <a href="/account/login">Log in</a>
          <a href="/account/register">Sign up</a>
        {% endif %}
        <a href="/book-a-call">Book a Free Call</a>
      </div>
    </div>
  </div>
  <nav class="main-nav" itemprop="mainEntityOfPage">
    <div class="container">
      <div class="main-header-block">
        <nav class="main-menu">
          <ul>
            {% for link in linklists['main-menu'].links %}
              <li class="{% if link.url == canonical_url or link.url == request.path %}active{% endif %}">
                <a href="{{ link.url }}" itemprop="url">{{ link.title }}</a>
                {% if link.links %}
                  <ul class="submenu">
                    {% for sublink in link.links %}
                      <li class="{% if sublink.url == canonical_url or sublink.url == request.path %}active{% endif %}">
                        <a href="{{ sublink.url }}" itemprop="url">{{ sublink.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>

        <div class="main-header-icon">
          <div class="wishlist-icon">
            <a href="/wishlist" class="wishlist-link">
              {% render 'wishlist-icon' %}
            </a>
          </div>
          {% if customer %}
            <div class="login-icon">
              <a href="/account" class="login-link">
                {% render 'login-icon' %}
              </a>
            </div>
          {% endif %}
          <div class="cart-icon">
            <a href="javascript:void(0);" class="cart-link" id="cartDropdownToggle">
              <sup id="cartItemCount">{{ cart.item_count }}</sup>
              {% render 'icon-cart' %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Popup Modal -->
  <div class="container">
    <div id="cart-popup" class="cart-popup">
      <div class="cart-popup-content">
        <h2>Your Cart</h2>
        <div id="cart-items"></div>
        <div class="cart-popup-total">
          <p>Total: <span id="cart-total"></span></p>
        </div>
        <div class="cart-popup-buttons">
          <button id="view-cart">View Cart</button>
          <button id="checkout">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</header>

<style>
  /* Popup Container */
  .cart-popup {
    display: none;
    position: absolute;
    right: 0;
  }

  /* Popup Content */
  .cart-popup-content {
    background-color: #fefefe;
    padding: 20px;
    max-width: 496px;
    width: 100vw;
  }

  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .cart-popup-total,
  .cart-popup-buttons {
    margin-top: 20px;
  }

  .cart-popup-buttons button {
    margin-right: 10px;
  }
</style>
